body{
	width: 1000px;
	margin: 0 auto;
	margin-top: 40px;
}

header, section{
	border: 1px solid black;
	padding: 20px;
}

header h1{
	text-align: center;
  	font-size: 70px;
  	line-height: 9px;
}

.smiley-face{
	background-image: url("../img/mad-lib-happy-face.png");
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	float: left;
}

.logo-container{
	float: right;
	width: 740px;
}

.angular-logo{
  	background-image: url("../img/ng-mad-libs-logo.png");
  	background-repeat: no-repeat;
  	width: 450px;
  	height: 105px;
  	margin-left: auto;
  	margin-right: auto;
}

.btn.btn-primary{
	margin: 20px 0 0 0;
}

input{
	display: block;
	margin: 20px 0 0 0;
}

.input-container{
	padding: 20px;
}

section p{
	line-height: 30px;
}

.gender-select{
	float: left;
}

.error{
	color:red;
}

.clr{
	clear: both;
}

.row.hide-transition{
	height: 35em;
	overflow: hidden;
}

.input-form.ng-hide-remove,
.input-form.ng-hide-add.ng-hide-add-active{
	-webkit-animation: formSlideUp 1s 1;
}

.input-form.ng-hide-add,
.input-form.ng-hide-remove.ng-hide-remove-active{
	-webkit-animation: formSlideDown 1s 1;
}

.paragraph.ng-hide-remove,
.paragraph.ng-hide-add.ng-hide-add-active{
	-webkit-animation: textSlideDown 1s 1;
}

.paragraph.ng-hide-add,
.paragraph.ng-hide-remove.ng-hide-remove-active{
	-webkit-animation: textSlideUp 1s 1;
}

@-webkit-keyframes formSlideUp{
	from {
		margin: 0; opacity: 1;
	}
	to{
		margin: -4em 0 0 0; opacity: 0;
	}
}

@-webkit-keyframes formSlideDown{
	from {
		margin: -4em 0 0 0; opacity: 0;
	}
	to{
		margin: 0; opacity: 1;
	}
}

@-webkit-keyframes textSlideUp{
	from{
		margin: 0 0 -24em 0; opacity: 0;
	}
	to{
		margin: 0; opacity: 1;
	}
}

@-webkit-keyframes textSlideDown{
	from{
		margin: 0; opacity: 1;
	}
	to{
		margin: 0 0 -24em 0; opacity: 0;
	}
}





