<!doctype html>
<html lang="en" ng-app="">
<head>
    <meta charset="UTF-8">
    <title>ngMadLibs</title>
    <link rel="stylesheet" href="css/style.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js" type="text/javascript"></script>
</head>
<body>
	<header class="center">
		<div class="smiley-face"></div>
		<div class="logo-container">
			<div class="angular-logo"></div>
			<h1>Automate This!</h1>
		</div>
		<div class="clr"></div>
	</header>
	<section>
		<h2>Provide the following words:</h2>
		<form>
			<div class="column">
				<input type="text" placeholder="female name" ng-model="femaleName" />
				<input type="text" placeholder="dirty task" ng-model="dirtyTask" />
				<input type="text" placeholder="adjective" ng-model="adjective" />
			</div>
			<div class="column">
				<input type="text" placeholder="job title" ng-model="jobTitle" />
				<input type="text" placeholder="celebrity" ng-model="celebrity" />
				<input type="text" placeholder="obnoxious celebrity" ng-model="obnoxiousCelebrity" />
			</div>
			<div class="column">
				<input type="text" placeholder="tedious task" ng-model="tediousTask" />
				<input type="text" placeholder="useless skill" ng-model="uselessSkill" />
				<input type="text" placeholder="huge number" ng-model="hugeNumber" />
			</div>
			<div class="clr"></div>
		</form>
	</section>
	<section>
		<p>
			{{femaleName}} was a {{jobTitle}} who loved technology. Although she loved parts of her job, she absolutely hated  {{tediousTask}} and {{dirtyTask}}. So, {{femaleName}} met with her life mentor {{celebrity}} who told her to learn how to {{uselessSkill}} with Thinkful. Thinkful didn't offer a course on {{uselessSkill}} so she studied programming instead. 
 	
			What a great decision! With her new skills, {{femaleName}} built a(n) {{adjective}} robot named {{obnoxiousCelebrity}} that not only loved {{dirtyTask}} but did it {{hugeNumber}} times faster. 
		</p>
	</section>
</body>
</html>